.header
  height 44px
  position fixed
  top 0
  left 0
  width 100%
  @media (min-width: $tablet)
    height 90px
  &._inner-page
    @media (min-width: $tablet)
      background #121212
      height 50px
      .ocean-logo
        @media (min-width: $tablet)
          display block
  &__wrapper
    display flex
    align-items center
    justify-content space-between
    height 100%
    padding 0 0 0 10px
    position relative
    @media (min-width: $tablet)
      padding 0 28px 0 40px
  .page-title
    color #fff
    display none
    font 14px/36px $korataki
    letter-spacing .05em
    margin 0 auto 0 82px
    position relative
    &::before
      position absolute
      top 50%
      left -41px
      background #3b78bf
      content ''
      display block
      height 30px
      margin -15px 0 0
      width 2px
    ._fullpage-accordion &
      display block
  .ocean-logo
    display none
    opacity 0
    pointer-events none
    @media (min-width: $tablet)
      background url('../i/ocean_logo.png') 50% no-repeat
      background-size contain
      display block
      height 30px
      width 140px
    ._after-intro &
      @media (min-width: $tablet)
        opacity 1
        pointer-events auto
    ._fullpage-accordion &
      opacity 1
      pointer-events auto
  .anos-logo
    background url('../i/anos_logo.png') 50% no-repeat
    background-size contain
    height 14px
    width 106px
    @media (min-width: $tablet)
      margin 0
    ._after-intro &
      @media (max-width: $tablet - 1)
        opacity 0
        pointer-events none
    ._fullpage-accordion &
      display none
  &__burger
    cursor pointer
    height 44px
    margin 0
    position relative
    width 44px
    @media (min-width: $tablet)
      margin 0 0 0 96px
    span
    &::before
    &::after
      position: absolute;
      left: 50%;
      background: #fff
      display: block;
      height: 2px;
      margin-left: -10px;
      width: 20px
    span
      top: 21px
    &::before
    &::after 
      content: '';
      transform-origin: 50%;
      transition: top .2s ease .1s,bottom .2s ease .1s
    &::before
      top: 14px
    &::after
      bottom: 14px
