.section
  background-size cover
  background-repeat no-repeat
  background-position 50% 0
  display flex
  flex-direction column
  &._intro-section
    height 100vmax
    @media (min-width: $tablet)
      display none
  &._hidden-footer
    footer
      position static
      opacity 0
  .big-ocean-logo
    align-self center
    background url('../i/ocean_logo_url.svg') 50% no-repeat
    background-size contain
    height 47px
    width 220px
    @media (min-width: $tablet)
      height 64px
      width 300px
  .next-section-button
    position absolute
    left 0
    right 0
    bottom 30px
    cursor pointer
    height 50px
    margin 0 auto
    width 50px
    &::before,
    &::after
      position absolute
      top 0
      left 0
      right 0
      background url('../i/mouse-arrow.svg') 50% no-repeat
      content ''
      height 10px
      margin 0 auto
      animation: mouse-arrow 3s ease infinite
      width 30px
    &::after
      top 10px
    @media (min-width: $tablet)
      bottom 35px
  &__inner
    display flex
    flex-direction column
    justify-content center
    flex 1
    position relative
    text-align center
    width 100%
  &__double-wrap
    display flex
    flex-direction column
    flex 1
    width 100%
    @media (min-width: $tablet)
      flex-direction row
    a
      flex 0 0 50%
    
    .left-b
      background-image url('../i/s2_1_bg.jpg')
    .right-b
      background-image url('../i/s2_2_bg.jpg')  
      
    .left-b
    .right-b
      background-size cover
      background-repeat no-repeat
      background-position 50%
  &-title
    color #fff
    display flex
    align-items center
    justify-content center
    height 100%
    font 13px/24px $korataki
    letter-spacing .05em
    text-transform uppercase
    @media (min-width: $tablet)
      font 20px/36px $korataki
    &:hover
      span::after
        transform translateY(-10px)
    &._jardines span::after
          background #9cc255
    &._obras span::after
      background #e9333d
    &._limpieza span::after
      background #535453
    
    span
      position relative
      &::after
        position absolute
        bottom -20px
        left 0
        right 0
        background #3b78bf
        content ''
        display block
        height 3px
        margin 0 auto
        transition transform .2s ease
        width 50px
        @media (min-width: $tablet)
          bottom -24px
  &._s1
    background-image url('../i/s1_bg.jpg')
  &._s2
    background-color #f6f6f6
  &._s3
    background-image url('../i/s3_bg.jpg')
  &._s4
    background-image url('../i/s4_bg.jpg')
  &._corp1
    background-image url('../i/corp1.jpg')
  &._corp2
    background-image url('../i/corp2.jpg')
  &._corp3
    background-image url('../i/corp3.jpg')
  &._corp4
    background-image url('../i/corp4.jpg')
  &._corp5
    background-image url('../i/corp5.jpg')
  &._corp6
    background-image url('../i/corp6.jpg')
  &._resid1
    background-image url('../i/resid1.jpg')
  &._resid2
    background-image url('../i/resid2.jpg')
  &._resid3
    background-image url('../i/resid3.jpg')
  &._resid4
    background-image url('../i/resid4.jpg')
  &._resid5
    background-image url('../i/resid5.jpg')
    
@keyframes mouse-arrow {
  80% {
    transform: translateY(0)
  }

  85% {
    transform: translateY(25%)
  }

  90% {
    transform: translateY(0)
  }

  95% {
    transform: translateY(25%)
  }
}
