mixin burger(items, links)
  .burger-menu
    .burger-menu__overlay
    .burger-menu__container
        .burger-menu__close
        ul.burger-menu__list
          each val, i in items
            li.burger-menu__item: a(href= val)= i
          li.burger-menu__item._social  
            ul.social-icons
              li.social-icons__item._fb: a(href='https://www.facebook.com/grupo.ocean/').
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="i/icons.svg#fb"></use></svg>
              li.social-icons__item._.in: a(href='https://www.instagram.com/grupocean/').
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="i/icons.svg#in"></use></svg>
