.slide-footer
  background #000
  font 10px/16px $gothic
  letter-spacing .05em
  text-align center
  width 100%
  @media (min-width: $tablet)
    background #121212
  ._inner-page &
    @media (max-width: $tablet - 1)
      position fixed
      bottom 0
      left 0
      right 0
      z-index 1000  
  &__wrapper
    margin 0 auto
    padding 13px 40px
    @media (min-width: $tablet)
      display flex
      justify-content space-between
      align-items center
      flex-wrap wrap
  &__bottom
    background #000
  &__logos
    display none
    margin 0 auto
    padding 0 40px
    * + *
      margin 0 0 0 26px
    @media (min-width: $tablet)
      display flex
      align-items center
      height 90px
    .social-icons
      margin 0 0 0 auto  
    .footer-ocean
      background url('../i/ocean_logo_url.svg') 50% no-repeat
      background-size contain
      display block
      height 30px
      margin 0 56px 0 0
      position relative
      width 140px
      ._jardines &
        background-image url('../i/ocean_logo_url_green.svg')
      ._obras &
        background-image url('../i/ocean_logo_url_red.svg')
        
      &::after
        position absolute
        top 2px
        right -41px
        background #3b78bf
        content ''
        height 30px
        width 2px
        ._jardines &
          background #9cc255
        ._obras &
          background #e9333d
          
    .cedec
      background url('../i/cedec.png') 50% no-repeat
      background-size contain
      height 30px
      width 89px
    .iso
      background url('../i/iso.png') 50% no-repeat
      background-size contain
      height 38px
      width 37px
    .eqa
      background url('../i/eqa.png') 50% no-repeat
      background-size contain
      height 38px
      width 38px
      
  &__address
    color #929292
    margin 0
  &__links
    a
      color #3b78bf
      display inline-block
      ._jardines &
          color #9cc255
        ._obras &
          color #e9333d
          
      &:hover
        text-decoration underline
      & + a
        margin 0 0 0 10px  