include blocks/mixins
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ocean Corporativo
    meta(name='description', content='Ocean')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  body
    - var items = ['Inicio','Corporativo','Instalaciones acuaticas','Limpieza','Servicios auxiliares','Building & Construction','Mantenimiento'];
    +burger(items)
    header.header._inner-page
        .header__wrapper
            a(href='/').ocean-logo
            .anos-logo    
            h1.page-title Corporativo
            .header__burger: span
                    
    #fullpage(data-type='accordion')
        .section._intro-section._corp1
            .section__inner
                .section-title: span Corporativo
                .next-section-button.js-next-section
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='#') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp2._active
            .section__inner
                a(href='#').section-title: span Instalaciones<br>acuaticas
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='#') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp3
            .section__inner
                a(href='#').section-title: span Limpieza
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='#') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp4
            .section__inner
                a(href='#').section-title: span Servicios<br>auxiliares
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='#') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp5
            .section__inner
                a(href='#').section-title: span Building<br>&amp; Construction
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='#') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp6
            .section__inner
                a(href='#').section-title: span Mantenimiento
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='#') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
    footer.slide-footer
        .slide-footer__top
            .slide-footer__wrapper
                p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                .slide-footer__links
                  a(href='#') Teléfono: 913 866 866
                  a(href='mailto:info@grupocean.com') info@grupocean.com
        .slide-footer__bottom
            .slide-footer__logos
                a(href='/').footer-ocean
                .cedec
                .iso
                .eqa
                ul.social-icons
                    li.social-icons__item._fb: a(href='#').
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="i/icons.svg#fb"></use></svg>
                    li.social-icons__item._.in: a(href='#').
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="i/icons.svg#in"></use></svg>
    script(src='js/main.js')