include blocks/mixins
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ocean Corporativo Building
    meta(name='description', content='Ocean')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  body._inner-page
    - var items = ['Inicio','Instalaciones acuaticas','Limpieza','Servicios auxiliares','Building & Construction','Mantenimiento'];
    +burger(items)
    header.header._inner-page
        .header__wrapper
            a(href='index.html').ocean-logo
            .anos-logo    
            h1.page-title Building &amp; construction
            .header__burger: span

    .section._intro-section._corp1
            .section__inner
                .section-title: span Corporativo
                .next-section-button.js-next-section(data-id='#main')
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='#') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com

    .main#main
        .parallax-block(data-parallax="scroll" data-image-src="i/corporativo_building_parallax.jpg")
        .main__content
            .wysiwyg
                p Nuestro Departamento de Building &amp; Constructión está dedicado exclusivamente a la gestión y ejecución proyectos de alta calidad. En Ocean diseñamos, dirigimos y ejecutamos proyectos de construcción en diferentes sectores.
                p También desarrollamos trabajos de diseño e interiorismo buscando el mejor aprovechamiento del espacio. Creamos acabados personalizados para cada tipo de cliente y nos ocupamos de cuidar hasta el mínimo detalle.
                p Un equipo de profesionales altamente cualificados se encarga de gestionar un  proyecto integral adecuado a la actividad profesional de cada cliente. Dos de los objetivos que persiguen nuestros proyectos son:
                ul._bordered
                    li Ahorro de costes, optimizando las  superficies ocupadas
                    li Aumento de la satisfacción del usuario y por tanto su rendimiento
                p En <b class='em'>Ocean</b> diferenciamos cuatro fases independientes dentro del diseño e interiorismo:    
                ol._bordered
                    li Estudio de las necesidades del cliente
                    li Planificación y optimización de espacios presentados al detalle
                    li Propuesta de puestos tipo
                    li Implantación de la instalación (dirección y seguimiento).
                p En Ocean trabajamos para realizar una ejecución perfecta. Sin fisuras ni contratiempos. Anticipándonos a cualquier problema y planificando las posibles contingencias.
                p Nuestros proyectos de ejecución se dividen en:
                ul._bordered
                    li Montajes de mobiliario comercial
                    li Instalaciones técnicas
                    li Reformas/Refit de locales, viviendas y oficinas.
                    li Rehabilitación de fachadas
                    li Proyectos llave en mano
    

    

    footer.slide-footer
        .slide-footer__top
            .slide-footer__wrapper
                p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                .slide-footer__links
                  a(href='#') Teléfono: 913 866 866
                  a(href='mailto:info@grupocean.com') info@grupocean.com
        .slide-footer__bottom
            .slide-footer__logos
                a(href='index.html').footer-ocean
                .cedec
                .iso
                .eqa
                ul.social-icons
                    li.social-icons__item._fb: a(href='#').
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="i/icons.svg#fb"></use></svg>
                    li.social-icons__item._.in: a(href='#').
                        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="i/icons.svg#in"></use></svg>
    script(src='js/main.js')