include blocks/mixins
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ocean Corporativo
    meta(name='description', content='Ocean')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  body
    - var items2 = {'Inicio':'/','Instalaciones acuaticas':'/corporativo_agua.html','Limpieza':'/corporativo_limpieza.html','Servicios auxiliares':'/corporativo_serv.html','Building & Construction':'/corporativo_building.html','Mantenimiento':'/corporativo_mantenimiento.html'};
    +burger(items2)
    header.header._inner-page
        .header__wrapper
            a(href='/').ocean-logo
            .anos-logo    
            h1.page-title Corporativo
            .header__burger: span
                    
    #fullpage(data-type='accordion')
        .section._intro-section._corp1
            .section__inner
                .section-title: span Corporativo
                .next-section-button.js-next-section
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp2._active
            .section__inner
                a(href='/corporativo_agua.html').section-title: span Instalaciones<br>acuaticas
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp3
            .section__inner
                a(href='/corporativo_limpieza.html').section-title: span Limpieza
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp4
            .section__inner
                a(href='/corporativo_serv.html').section-title: span Servicios<br>auxiliares
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp5
            .section__inner
                a(href='/corporativo_building.html').section-title: span Building<br>&amp; Construction
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._corp6
            .section__inner
                a(href='/corporativo_mantenimiento.html').section-title: span Mantenimiento
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
    footer.slide-footer
        .slide-footer__top
            .slide-footer__wrapper
                p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                .slide-footer__links
                  a(href='tel:913866866') Teléfono: 913 866 866
                  a(href='mailto:info@grupocean.com') info@grupocean.com
        .slide-footer__bottom
            .slide-footer__logos
                a(href='/').footer-ocean
                .cedec
                .iso
                .eqa
                include blocks/social
    script(src='js/main.js')