include blocks/mixins
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ocean
    meta(name='description', content='Ocean')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  body
    - var items = {'Inicio':'/', 'Corporativo':'/corporativo.html', 'Residencial':'/residencial.html', '¿Quienes somos?':'/quienes_somos.html', 'Trabaja con nosotros':'http://grupocean.com/trabaja-con-nosotros.html'};

    +burger(items)
    header.header
        .header__wrapper
            .ocean-logo
            .anos-logo
            .header__burger: span
    #fullpage(data-type='standart')
        .section._s1
            .section__inner
                .big-ocean-logo
                .next-section-button.js-next-section    
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._s2
            .section__double-wrap
                a(href='/residencial.html').section-title.left-b: span RESIDENCIAL
                a(href='/corporativo.html').section-title.right-b: span CORPORATIVO
            footer.slide-footer._last
                    .slide-footer__top
                        .slide-footer__wrapper
                            p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                            .slide-footer__links
                              a(href='tel:913866866') Teléfono: 913 866 866
                              a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._s3
            .section__inner
                a(href='/quienes_somos.html').section-title: span ¿QUIENES SOMOS?
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._s4
            .section__inner
                a(href='http://grupocean.com/trabaja-con-nosotros.html' target='_blank').section-title: span TRABAJA<br>CON NOSOTROS
            footer.slide-footer
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
                .slide-footer__bottom
                    .slide-footer__logos
                        .footer-ocean
                        .cedec
                        .iso
                        .eqa
                        include blocks/social
    script(src='js/main.js')