include blocks/mixins
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ocean ¿QUIENES SOMOS?
    meta(name='description', content='Ocean')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  body._inner-page
    
    - var items = {'Inicio':'/', 'Corporativo':'/corporativo.html', 'Residencial':'/residencial.html', '¿Quienes somos?':'/quienes_somos.html', 'Trabaja con nosotros':'http://grupocean.com/trabaja-con-nosotros.html'};

    +burger(items)
    header.header._inner-page
        .header__wrapper
            a(href='/').ocean-logo
            .anos-logo    
            h1.page-title ¿QUIENES SOMOS?
            .header__burger: span

    .main#main
        .parallax-block(data-parallax="scroll" data-image-src="i/quienes_somos_parallax.jpg")
        .main__content
            .wysiwyg
                p <b class='em'>Grupo Ocean</b> es una empresa de prestación de servicios auxiliares (facility services) especializada en el mantenimiento integral de edificios e instalaciones. En sus 15 años de existencia ha conseguido ser una empresa de referencia en la prestación de servicios especializados en:
                ul._bordered
                    li Piscinas
                    li Limpiezas
                    li Conserjerías
                    li Mantenimiento
                    li Jardines
                    li Obras y Proyectos
                p Sus instalaciones centrales están en Madrid, donde dispone de 3.000 m2 repartidos entre oficinas, almacenes, aulas de formación, talleres de reparación, etc.
                p Cuenta con más de 400 profesionales en plantilla y una flota de 60 vehículos que actualmente prestan servicio a más de 500 clientes.

    footer.slide-footer
        .slide-footer__top
            .slide-footer__wrapper
                p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                .slide-footer__links
                  a(href='tel:913866866') Teléfono: 913 866 866
                  a(href='mailto:info@grupocean.com') info@grupocean.com
        .slide-footer__bottom
            .slide-footer__logos
                a(href='/').footer-ocean
                .cedec
                .iso
                .eqa
                include blocks/social
    script(src='js/main.js')