include blocks/mixins
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Ocean Residencial
    meta(name='description', content='Ocean')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  body
    - var items = {'Inicio':'/index.html','Residencial':'/residencial.html','Piscinas & Socorristas':'/residencial_piscinas.html','Jardines':'/residencial_jardines.html','Conserjeria & Limpieza':'/residencial_conserjeria.html','Obras':'/residencial_obras.html'};

    +burger(items, links)
    header.header._inner-page
        .header__wrapper
            a(href='/').ocean-logo
            .anos-logo
            h1.page-title Residencial
            .header__burger: span
                    
    #fullpage(data-type='accordion')
        .section._intro-section._resid1
            .section__inner
                .section-title: span Residencial
                .next-section-button.js-next-section
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._resid2._active
            .section__inner
                a(href='/residencial_piscinas.html').section-title: span Piscinas <br>&amp; Socorristas
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._resid3
            .section__inner
                a(href='/residencial_jardines.html').section-title._jardines: span Jardines
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._resid4
            .section__inner
                a(href='/residencial_conserjeria.html').section-title._limpieza: span Conserjeria <br>&amp; Limpieza
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
        .section._resid5
            .section__inner
                a(href='/residencial_obras.html').section-title._obras: span Obras
            footer.slide-footer._last
                .slide-footer__top
                    .slide-footer__wrapper
                        p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                        .slide-footer__links
                          a(href='tel:913866866') Teléfono: 913 866 866
                          a(href='mailto:info@grupocean.com') info@grupocean.com
    footer.slide-footer
        .slide-footer__top
            .slide-footer__wrapper
                p.slide-footer__address Calle Joaquín Lorenzo, 50 – 28035 – Madrid
                .slide-footer__links
                  a(href='tel:913866866') Teléfono: 913 866 866
                  a(href='mailto:info@grupocean.com') info@grupocean.com
        .slide-footer__bottom
            .slide-footer__logos
                a(href='/').footer-ocean
                .cedec
                .iso
                .eqa
                include blocks/social
    script(src='js/main.js')