@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/hinted-CenturyGothic-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/hinted-CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/hinted-CenturyGothic-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/hinted-CenturyGothic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Korataki';
  src: url('../fonts/hinted-Korataki.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$gothic = 'Century Gothic', sans-serif
$korataki = 'Korataki', sans-serif